<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Welcome to CookBook</h1>
    <% if (user) { %>
      <p>Hi, <%= user.username %>! Manage your pantry or explore the community.</p>
    <% } else { %>
      <p>Please sign in or sign up to start managing your pantry.</p>
    <% } %>

</body>
</html>