<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add Pantry Item</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>cook smthin frr (add item)</h1>

  <form action="/users/<%= userId %>/foods" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required />
  <button type="submit">Add to pantry</button>
  </form>

  <p><a href="/users/<%= userId %>/foods">Back to Pantry</a></p>
</body>
</html>
